body {
    font-family: 'Orbitron', Verdana, sans-serif;
    font-style: italic;
    margin: 0;
    padding: 0;
    background-image: url("https://m.economictimes.com/thumb/msid-98916574,width-1920,height-1080,resizemode-4,imgsize-88616/ipl-new-rule-allows-captains-naming-of-playing-xi-after-toss-report.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    text-align: center;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
}

.navbar a {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
}

.active {
    background-color: #4CAF50;
}

.content {
    float: right;
    padding-top: 50px;
    padding-left: 50px;
}

.team-icon {
    width: 100px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
}

img {
    border-radius: 50px;
}

p {
    color: aliceblue;
    float: left;
    padding-left: 50px;
    padding-right: 200px;
}
