body {
    background-image: url('https://wallpapercave.com/wp/wp2496943.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

td, th {
    border: 1px solid #0d0c0e;
    text-align: left;
    padding: 8px;
    -webkit-text-fill-color: #000000;
}

p {
    font-size: 20px;
    font-family: cursive;
    width: 100%;
    font-weight: bold;
  }

th {
    background-color: #274eea;
}

.fade-in-text {
    font-family: Arial;
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
