body {
    background-image: url("https://wallpaperaccess.com/full/3411317.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  
  table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
  .fade-in-text {
    font-family: Arial;
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

p {
  font-size: 20px;
  font-family: cursive;
  width: 100%;
  font-weight: bold;
}

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: aliceblue;
  }

  h1 {
    color: aliceblue;
  }
  
  th {
    background-color: #442e6b;
  }
  
  .fade-in-text {
    font-family: Arial;
    animation: fadeIn 5s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  p {
    font-size: 20px;
    font-family: cursive;
    width: 100%;
    font-weight: bold;
  }
  