body {
    background-image: url('https://wallpaperaccess.com/full/4561412.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .fade-in-text {
    font-size: 18px;
    animation: fadeIn 5s;
    color: rgb(225, 222, 219);
  }

  p {
    font-size: 20px;
    font-family: cursive;
    width: 100%;
    font-weight: bold;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 3px solid #08100e;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #1739a8;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  