body {
    background-image: url("../images/pointstablee.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

p {
    font-size: 20px;
    font-family: cursive;
    width: 100%;
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 30px;
    width: 100%;
    font-weight: bold;
    text-align: center;
    color: #dddddd;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr {
    background-color: rgb(0, 0, 0);
}

