body {
    background-image: url('https://wallpaperaccess.com/full/2009380.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #0c0c0c;
    text-align: left;
    padding: 8px;
    color: azure;
  }
  
  th {
    background-color: #353333;
  }
  
  p {
    font-size: 20px;
    font-family: cursive;
    width: 100%;
    font-weight: bold;
    color: #d62929;
  }
  
  .fade-in-text {
    font-family: Arial;
    animation: fadeIn 5s;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  