body {
    background-image: url("https://4kwallpapers.com/images/wallpapers/rajasthan-royals-indian-premier-league-ipl-ipl-2021-cricket-2560x1440-4939.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  
  table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  p {
    font-size: 20px;
    font-family: cursive;
    width: 100%;
    font-weight: bold;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .fade-in-text {
    font-family: Arial;
    animation: fadeIn 5s;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  