*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/28402147-92a1-4060-be7f-0444dbae3bf8/dbhehvt-db573295-0c15-47b1-b271-cffb86b6f241.jpg/v1/fill/w_1024,h_640,q_75,strp/anime_collage_wallpaper_by_dinocojv_d8ayeyz_by_sayaky946_dbhehvt-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjQwIiwicGF0aCI6IlwvZlwvMjg0MDIxNDctOTJhMS00MDYwLWJlN2YtMDQ0NGRiYWUzYmY4XC9kYmhlaHZ0LWRiNTczMjk1LTBjMTUtNDdiMS1iMjcxLWNmZmI4NmI2ZjI0MS5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.AE7TWKeWgQjfp5wEtqLXWa7Rj4J1pLT21mBzJCQjroc");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.body{
    position: relative;
    width: 400px;
    height: 550px;
    background-color: white;
    box-shadow: 0 0 10px orange;
    border-radius: 20px;
    padding: 40px;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

h2{
    font-size: 35px;
    color: center;
    color: black;
    text-align: center;
}

.sign-UP{
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid black;
}

.sign-UP label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: black;
    pointer-events: none;
    transition: .5s;
}

.sign-UP input{
    background-color: transparent;
    font-size: 16px;
    width: 320px;
    height: 40px;
    color: black;
    padding: 0 5px;
    border: none;
    outline: none; 

}

.remember{
    margin: -5px 0 15px 5px;
}

.remember label{
    color: black;
    font-size: 14px;
}

button{
    position: relative;
    width: 100%;
    height: 40px;
    background: orange;
    box-shadow: 0 0 10px orange;
    font-size: 16px;
    color: black;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 35px;
}
.remember input{
    accent-color: orange;
}

.sign-in{
    font-size: 14px;
    margin: 10px;
    text-align: center;
}
.sign-in p{
    color: black;
}
.sign-in p a{
    color: orange;
    text-decoration: none;
    font-weight: 500;
}
.sign-in p a:hover{
    text-decoration: underline;
}
.sign-UP input:focus~label,
.sign-UP input:valid~label
{
    top:-5px;
}

.Other-Login{
    justify-content: center;
    text-align: center;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
  
.fa:hover {
      opacity: 0.7;
}
  
.fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 10px;
}

.fa-google {
    background: #dd4b39;
    color: white;
    border-radius: 10px;
}

.fa-instagram {
    background: #125688;
    color: white;
    border-radius: 10px;
}