.footer {
  background-color: #f5f5f5;
  background-image: url(../img/fotterback.jpg);
  background-size: cover;
  color: #333;
  padding: 20px 0;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  font-family: "Roboto", sans-serif;
  width: 100%;
  margin-bottom: 0px;
  

h4{
  text-align:justify;
  font-family:cursive;
}

.box-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}

.box {
  flex: 1 1 200px;
  margin: 20px;
  text-align: center;
}

.logo, .box h3 {
  display: block;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-transform: capitalize;
}

.btn,
.locations ul li,
.links a {
  color: #333;
  text-decoration: none;
  margin: 10px 60px;
  display: block;
  text-align: left;
  text-transform: capitalize;
}

#share {
  padding-top: 23px;
}

.links a:hover{
  color: rgb(0, 145, 0);
}

.locations ul,
.links {
  list-style: none;
  padding: 0;
}

.credit {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  padding-left: 350px;
  text-transform: capitalize;
  font-family: cursive;
}

.credit span {
  color: green;
  font-family:cursive;
}

.share {
  display: flex;
  padding-top: 0px; 
}

.share .btn {
  margin: 15px;
  background-color:green;
  color:whitesmoke;
  padding: 10px;
}

@media (max-width: 768px) {
  .box-container {
      flex-direction: column;
  }

  .box {
      flex: 1 1 auto;
      margin: 10px;
  }

  .credit {
      padding-left: 0;
  }

  .btn,
  .locations ul li,
  .links a {
      margin: 10px 0;
  }
}
