.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color:whitesmoke;
  border-radius: 10px;
  margin: 20px;
  margin-top: 0px;
  position: sticky;
  top: 0; /* Add this line */
  z-index: 1000;
 


.logo {
  padding-left: 30px;
  width: 190px;

  border-radius: 200px;
}

.navbar {
  display: flex;
}

.navbar a {
  padding: 25px;
  text-decoration: none;
  font-family:cursive;
  font-size: 18px;
  color:brown;
}

.navbar a:hover{
  background-color: rgb(244, 208, 160);
  border-bottom-left-radius: 250px;
  border-bottom-right-radius: 250px;
  color: rgb(2, 67, 2);
  transform:scale(1.2);
}

.icons {
  padding-right:80px ;
  display: flex;
  gap: 30px;
}

.icons a,i {
  text-decoration: none;
  color: darkgreen;
}

.icons i {
  font-size: 20px;
}

.icons a:hover,.icons i:hover{
  color:brown;
}

@media (max-width: 768px) {
  .header {
      flex-direction: column;
      align-items: flex-start;
  }

  .logo {
      width: 100%;
      padding-left: 0;
  }

  .navbar {
      flex-direction: column;
  }

  .navbar a {
      padding: 10px;
  }

  .icons {
      padding-right: 0;
  }
}
