.heading {
    text-align: center;
    padding-bottom: 20px;
}

.heading h1 {
    color: maroon;
    font-family:cursive;
    font-size: 2em;
  background-color: white;
    padding: 20px;
    border-radius:550px;
    display: inline-block;
    box-shadow:0px 0px 25px rgba(7, 98, 1, 1);

}

.heading h1 span {
    color: darkgreen;
}

.product {
    text-align: center;
    padding-bottom: 20px;
}

.product h1 {
    color:darkgreen;
    font-family:cursive;
    font-size: 2em;
  background-color: white;
    padding: 20px;
    border-radius:550px;
    display: inline-block;
    box-shadow:0px 0px 25px rgba(7, 98, 1, 1);

}

.product h1 span {
    color:maroon;
}
.name{
    text-transform: capitalize;
    background-color:goldenrod;
    color:black;
    font-family: cursive;
}



