
.name{
  margin-top: 5px;
  font-size: 28px;
  font-family: cursive;
  background-color: goldenrod;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading h1 {
  color: brown;
  background-color: white;
  padding: 20px; /* Adds space around the text */
  border-radius: 55px; /* Rounds the corners of the background */
  font-family: cursive;
  box-shadow: 0 0 10px rgb(52, 31, 1);
}

.heading h1 span {
  color: darkgreen;
}
.head {
  display: flex;
  justify-content: center;
  align-items: center;
}

.head h1 {
  color: brown;
  background-color: white;
  padding: 20px; /* Adds space around the text */
  border-radius: 55px; /* Rounds the corners of the background */
  font-family: cursive;
  box-shadow: 0 0 10px darkgreen;
}

.head h1 span {
  color: darkgreen;
}




main{
  border-radius: 15px;
  background-color: whitesmoke;
  margin-left: 110px;
  margin-right: 110px;
  padding-bottom: 20px;
  padding-top: 20px;
}
img {
  max-width: 100%;
  display: block;
}

.cart-btn {
  position: fixed;
  left: 1390px;
  top: 640px;
  display: flex;
  justify-content: flex-end;
  
  
}


#cart {
  position: relative;
  font-size: 2rem;
  cursor: pointer;
  margin: 1em 4em 0 0;
  z-index: 1100px;
}

.cart-quantity {
  color: white;
  background-color: orange;
  padding: .2em .3em;
  position: absolute;
  margin: .8em 7.5em 0 0;
  right: 0;
  border: solid 2px orange;
  border-radius: 15px;
  font-weight: bolder;
}

.items-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin: 2em;
  
  
}

.card {
/*   width: 15rem; */
  
  margin: 1em;
  position: relative;
  overflow: hidden; 
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  
}

.card:hover .add-to-cart {
  transform: translateX(0);
}

.product-image {
  margin-bottom: 0em;
  border-radius: 10px;
}

.add-to-cart {
  background-color: green;
  color: white;
  position: absolute;
  right: 0;
  top: 65%;
  padding: .5em 1em; 
  transform: translateX(300px);
  transition: .5s ease;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: bolder;
  font-size: 1.2rem;
  font-family: cursive;
}


.product-price {
   font-size: 24px;
   font-family: cursive;
   color: crimson;

}

.cart-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, .5);
  z-index: 2;
  transform: translateX(-200%);
  transition: .5s ease-out;
  z-index: 10001;
  
}

.cart-modal {
  height: 100vh;
  width: 50%;
  background-color:rgb(50,50,50);
  float: right;
  overflow: scroll;
  overflow-x: hidden;
}

#close-btn {
  font-size: 1.5rem;
  float: right;
  margin: .5em 2em 0 0;
  color: white;
  cursor: pointer;
}

.cart-is-empty {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1em;
  display: none;
  
}

.total {
  text-align: center;
  margin: 2em 0 2em 0;
/*   display: none; */
}

.cart-total {
  color: white;
}

.total-price {
  color: white;
  font-size: 2rem;
  display: block;
}

.purchase-btn {
  font-size: 1rem;
  font-weight: bolder;
  background-color: green;
  color: white;
  padding: 1em 2em;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 2em 0 1em 0;
}

.product-rows {
  margin-top: 2em;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  
}

.product-row {
  display: flex;
  align-items: center;
}

.cart-image {
  width: 10rem;
  margin: 1em;
  border-radius: 10px;
}

.cart-price {
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
}

.product-quantity {
  width: 4rem;
  font-size: 2rem;
  margin-left: 3rem;
}

.remove-btn {
  padding: 1em 2em;
  background-color: red;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 3rem;
  font-weight: bolder;
  font-size: 1rem;
}



.remove-btn:active {
  transform: translateY(5px);
}

@media (max-width: 1000px){
  .cart-modal {
    width: 100vw;
  } 
  
  .product-row {
    flex-direction: column;
    text-align: center;
    margin-bottom: 2em;
  }
  
  .remove-btn {
    margin: 0
  }
  
  .product-quantity {
    margin: .5em 0 .5em 0
  }
}




