@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
body,html{
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  .navbar {
    display: flex;
    align-items: left;
    justify-content: left;
    position: fixed;
    top: 0;
    cursor: pointer;
    width: 100%;
    border: 1px solid rgb(32,23,71,0.1) ;
    height: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}
.nav-list {
        width: 20%;
        display: flex;
        align-items: left;
        color: azure;
    }
.background {
        background: rgb(32,23,71,0);
        background-blend-mode: darken;
        background-size: cover;
    }
.nav-list li {
    list-style: none;
    padding: 20px 30px;
    }
.b{
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y:scroll;
    margin: 4px;
    padding: 0;
}
.imt{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 90%;
    color: white ;
    margin: 55px;
    margin-top: -20px;
    margin-left: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100px;
}
.imtt{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 650px;
    width: 90%;
    color: white ;
    margin-top: -480px;
    margin-left: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 180px;
}
.imt:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}
.imtt:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}
.t1{
    text-align: left;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: right;
    color: #DAEAF1;
    margin-left: 5px;
    padding: 0%;
}
.t2{
    justify-content: center;
    color:#D4ADFC ; 
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    text-transform: capitalize;
    display: flex;
    font-size: 90px;
    margin-top: 10px;
}
.im{
    background-image: url(10753322.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    height: 700px;
    width: 100%;
    margin-top: -55px;;
}
.im1{
    height: 77px;
    width: 150px;
    padding:2%;
    padding: 0 5px;
    margin: 0 2px;
    margin-bottom: 0;
}
.button {
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button1 {
    background-color: rgb(32,23,71,0.1); 
    color: azure; 
    border: 1px solid  rgb(32,23,71,0.1);
}
.button1:hover {
    padding-bottom: 10px;
    color: #ffe3fe;
    text-decoration: underline;
}
.new{
    border: 3px solid rgb(248, 248, 190) ;
    border-radius: 3px;
}
.t3{
    text-align: center;
    display: flex;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:  #ffe3fe;
    padding: 0 30px;
    margin: 0;
}
.button2{
    border: 1px solid black;
    color: black;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: xx-large;
    margin: 2px 39%;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    background-color: #E5BEEC;
}
.button2:hover {
    background-color: white;
    color: black;
}
.dropbtn {
    background-color:rgb(32,23,71,0.1) ;
    color: azure;
    padding: 15px 30px;
    font-size: 16px;
    margin: 4px 10px;
    border: none;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: azure;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: white;transition: 4s;text-decoration: underline;}
  .dropdown:hover .dropdown-content {display: block;}
  .last{
    background-color: black;
    
    color: azure;
    display: flex;
    width: 100%;
  }
  .lang{
    height: 40px;
    margin: 10px;
    margin-left: 3px;
    
  }
  .last li{
    text-transform: capitalize;
    display: flex;
    list-style-type: none;
    padding: 7px 14px;
    text-align: center;
    margin: 2px 5px;
  }
  .ssim{
    background-image: url(images/ss3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0;
        height: 750px;
        width: 100%;
        margin-top: -55px;
    }
    .imss{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 700px;
        width: 60%;
        color: white ;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 95px;
    }
    table,th,td{
        border: 1px solid black;
        padding: 0px 100px;
        margin-left: -75px;
        margin-top: -30px;
        background-color: black;
        width: 100%;
    
      }
    th{
        text-transform: capitalize;
        text-align: left;
        font-size: xx-large;
        color: rgb(166, 189, 247);
      }
    td{
        text-transform: capitalize;
        text-align: left;
        font-size: xx-large;
        color:azure;
      }
    .vb{
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
        margin-bottom: -200px;
    } 
    .vb1{
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
        margin-bottom: -105px;
        height: 820px;
    } 
    .s1{
        color: white;
        text-align: left;
        justify-content: left;
        font-size: x-large;
        width: 50%;
        line-height: 40px;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 50px;
    }
    .s2{
        color: white;
        text-align: right;
        justify-content: right;
        font-size: x-large;
        width: 50%;
        line-height: 40px;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 45%; 
        margin-right: 30px; 
    }
    .container{
        width: 100%;
        height: 100%;
        background-image: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url(ss.jpg);
        background-position: center;
        background-size: cover;
        position: relative;
    }
    .f{
        width: 90%;
        max-width: 450px;
        position: absolute;
        left: 50%;
        transform: translate(-50%,50%);
        background: #fff;
        padding: 50px,60px,70px;
        text-align: center;
        height: 90%;
        top: -40%;
    }
    .f h1{
        font-size: 30px;
        margin-bottom: 60px;
        margin-top: 40px;
        color: blue;
        position: relative;
        font-family: 'Poppins', sans-serif;
    }
    .f h1::after{
        content: '';
        width: 30px;
        height: 4px;
        border-radius: 3px;
        background: blue;
        position: absolute;
        bottom: -12px;
        left: 50%;
        transform: translateX(-50%);
    }
    .inf{
        background: #eaeaea;
        margin: 24px 30px;
        border-radius: 3px;
        display:flex ;
        align-items: center ;
        max-height: 65px;
        transition: max-height 0.5s;
        overflow: hidden;
    }
    input{
        width: 100%;
        background: transparent;
        border: 0;
        outline: 0;
        padding: 20px 17px;
    }
    .inf i{
        margin-left: 15px;
        color: #999;
    }
    .f p{
        text-align: left;
        font-size: 14px;
        margin-left: 30px;
    }
    .f a{
        text-decoration:none ;
        color: blue;
    }
    .btn-field{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .btn-field a{
        flex-basis: 48%;
        color: blue;
        font-size: 15px;
        height: 40px;
        border-radius: 35px;
        padding-top: 20px;
        border: 0;
        outline: 0;
        cursor: pointer;
        transition: background 1s;
        margin: 0 15px;
        font-family: 'Poppins', sans-serif;
    }
    .btn-field a:hover{
        background-color: blue;
        color: white;
    }
    .sub{
        width: 90%;
        display: flex;
        justify-content: center;
        background-color: blue;
        color: white;
        height: 40px;
        border-radius: 30px;
        border: 0;
        padding-bottom: 15px;
        outline: 0;
        cursor: pointer;
        transition: background 1s;
        margin: 0 15px;
        box-shadow: 3px 0 10px rgba(0,0,50,0.5);
        font-family: 'Poppins', sans-serif;
    }
    .grp{
        display: flex;
        justify-content: space-between;
        top: 10px; 
        text-decoration: none;
        font-weight: 500px;
        margin: 0 30px;
    }
    .grp span a{
        color: blue;
        position: relative;
        font-family: 'Poppins', sans-serif;
    }
    .grp a:hover{
        text-decoration: underline;
    }
    .popup{
        width: 400px;
        background-color: white;
        border-radius: 6px;
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translate(-50%,-50%) scale(0);
        transition: transform .4s , top .4s;
        visibility: hidden;
        text-align: center;
        padding: 0 30px 30px;
        height: 330px;
        color: black;
    }
    .popup button{
        width: 100%;
        background: #3cb371;
        padding: 10px 0; 
        margin-top: 50px;
        border: none;
        outline: none;
        font-size: 18px;
        color: white;
        cursor: pointer;
        box-shadow: 0 0 0 2px rgba(0,0,0,0.2);
    }
    .popup a{
        color: white;
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 2px;
         
    }
    .open-slide{
        top: 50%;
        transform: translate(-50%,-50%) scale(1);
        visibility: visible;
    }
.input-group{
    height: 300px;
}
.wrapper{
    max-width: 1400px;
    position: relative;
}
.wrapper .carous1{
    white-space: nowrap;
    font-size: 0px;
    overflow: hidden;
    cursor: pointer;
    scroll-behavior: smooth;
}
.carous1.dragging{
    cursor: grab;
    scroll-behavior: auto;
}
.carous1.dragging img{
    pointer-events: none ;
}
.carous1 img{
    height: 380px;
    object-fit:cover ;
    width: calc(100% / 4);
    margin-left: 0px;
}
.cover{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 34px;
}
.carous1 img:first-child{
    left: 2px;
}
.wrapper i{ 
    top: 45%;
    height: 46px;
    width: 46px;
    text-align: center;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 50%;
    line-height: 46px;
    background: white;
    position: absolute;
}
.wrapper i:first-child{
    left: 23px;
}
.wrapper i:last-child{
    right: -7px;
}
@media screen and (max-width:900px){
    .carous1 img{
        width: calc(100% / 2);
    }
}
@media screen and (max-width:550px){
    .carous1 img{
        width: 100%;
    }
}
.sp{
    color: white;
    text-align: center;
    justify-content: center;
    font-size: xx-large;
    width: 90%;
    line-height: 40px;
    font-family: 'Poppins', sans-serif;
    margin-left: 60px;
}
#p1:hover{
    background-color: #7e7d7d;
    opacity: 0.5;
}
#p2:hover{
    background-color: #7e7d7d;
    opacity: 0.5;
}
#p3:hover{
    background-color: #7e7d7d;
    opacity: 0.5;
}
#p4:hover{
    background-color: #7e7d7d;
    opacity: 0.5;
}
#p5:hover{
    background-color: #7e7d7d;
    opacity: 0.5;
}
#p6:hover{
    background-color: #7e7d7d;
    opacity: 0.5;
}
#p7:hover{
    background-color: #7e7d7d;
    opacity: 0.5;
}
#p8:hover{
    background-color: #7e7d7d;
    opacity: 0.5;
}
#result{
    color: red;
    font-weight: 600;
    position: relative;
    font-family: 'Poppins', sans-serif;;
}