body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: #555;
}

button{
    padding: 10px;
    background: rgb(147, 0, 0);
    color: white;
    border-radius: 5px;
    width: 120px;
    transition: 0.5s;
    cursor: pointer;
}
button:hover{
    
    width: 145px;
}

h1, h2 {
    text-align: center;
}

.selection-links {
    text-align: center;
    margin-bottom: 20px;
}

a {
    margin: 0 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
}

#coffee-total, #tea-total {
    margin-top: 20px;
    text-align: center;
}