body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
   
    background-size: cover;
    background-position: center;
}
video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.header-container .company-name a{
    color: black;
    font-size: 30px;
    font-weight: 650;
    text-decoration: none;
    
}

#coffee{
    color: #930000;
}

.header-container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 0;
}

.company-name {
    font-family: 'Georgia', serif;
    font-size: 36px;
    color: #555;
    margin-bottom: 10px;
}

.intro-container {
    text-align: center;
    margin: 10% auto;
    max-width: 600px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    color: #333;
}

p {
    color: #666;
    font-size: 18px;
    margin-bottom: 30px;
}

.start-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #4caf50;
    width: 100px;
    border-radius: 5px;
    transition: 0.5s;
}

.start-button:hover {
    background-color: #930000;

    width: 125px;
}

.additional-info {
    text-align: left;
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.company-details {
    text-align: center;
    margin-top: 50px;
    padding: 10px;
    background-color: rgba(47, 47, 47, 0.69);
    color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}