@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

*:root {
  --orange: #FF5F00;
}

* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all .2s linear;
}

*::-moz-selection {
  background: var(--orange);
  color: #fff;
}

*::selection {
  background: var(--orange);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  padding: 2.5rem 0;
}

.heading span {
  font-size: 3.5rem;
  background: rgba(255, 165, 0, 0.2);
  color: var(--orange);
  border-radius: .5rem;
  padding: .2rem 1rem;
}

.heading span.space {
  background: none;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  background: var(--orange);
  color: #fff;
  padding: .8rem 3rem;
  border: 0.2rem solid var(--orange);
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover {
  background: rgba(255, 165, 0, 0.2);
  color: var(--orange);
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #333;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}

header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #fff;
  text-transform: uppercase;
}

header .logo span {
  color: var(--orange);
}

header .navbar a {
  color: #fff;
  font-size: 2rem;
  margin: 0 .8rem;
}

header .navbar a:hover {
  color: var(--orange);
}

header .icons i {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  margin-right: 2rem;
}

header .icons i:hover {
  color: var(--orange);
}

header .search-bar-container {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  background: #333;
  padding: 1.5rem 2rem;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  z-index: 1001;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

header .search-bar-container #search-bar {
  width: 100%;
  padding: 1rem;
  text-transform: none;
  color: #333;
  font-size: 1.7rem;
  border-radius: .5rem;
}

header .search-bar-container label {
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
  margin-left: 1.5rem;
}

header .search-bar-container label:hover {
  color: var(--orange);
}

header .search-bar-container.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header #menu-bar {
  color: #fff;
  border-radius: .5rem;
  font-size: 3rem;
  padding: .5rem 1.2rem;
  cursor: pointer;
  display: none;
}

.login-form-container {
  position: fixed;
  top: -120%;
  left: 0;
  z-index: 10000;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-container form {
  background: #fff;
  margin: 2rem;
  padding: 1.5rem 2rem;
  border-radius: .5rem;
  width: 50rem;
}

.login-form-container form h3 {
  font-size: 3rem;
  color: #444;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 0;
}

.login-form-container form .box {
  width: 100%;
  padding: 1rem;
  font-size: 1.7rem;
  color: #333;
  margin: .6rem 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  text-transform: none;
}

.login-form-container form .box:focus {
  border-color: var(--orange);
}

.login-form-container form #remember {
  margin: 2rem 0;
}

.login-form-container form label {
  font-size: 1.5rem;
}

.login-form-container form .btn {
  display: block;
  width: 100%;
}

.login-form-container form .social-icons {
  margin-top: 2rem;
}

.login-form-container form .social-icons i {
  font-size: 3rem;
  color: var(--orange);
  margin: 0 .5rem;
  cursor: pointer;
}

.login-form-container form .social-icons i:hover {
  color: #333;
}

.login-form-container form .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  color: var(--orange);
  cursor: pointer;
}

.login-form-container.active {
  top: 0;
}

.login-btn {
  background: var(--orange);
  color: #fff;
  padding: 1rem 2rem;
  border-radius: .5rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.8rem;
}

.login-btn:hover {
  background: rgba(255, 165, 0, 0.8);
}
