*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),transparent),url(../images/background_image.jpg);
background-size: cover;
background-position: center;
padding: 0 8%;
position: relative;
}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
}
nav .logo{
    font-size: 30px;
    text-decoration: none;
color: rgb(229, 211, 211);
}
nav .logo::after{
    
    color: #fff;
}
nav ul{
    flex:1;
    text-align: right;
    padding-right: 30px;
}
nav ul li{
    display:inline-block;
    list-style:none;
    margin: 10px 30px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
   position: relative;
}
nav ul li a::after{
    content:'';
    width: 0;
    height: 3px;
    position: absolute;
bottom: -5px;
left: 50%;
transform: translateX(-50%);
background:#fff;
transition: width 0.3s;
}
nav ul li a:hover::after{
    width: 50%;
}
.text-box{
    color: #fff;
    position: absolute;
    bottom:8%;
}
.text-box p{
    font-size: 50px;
    font-weight: 600;
}
.text-box h1{
    font-size: 110px;
    line-height: 160px;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background:url(../images/strips.png);
   -webkit-background-clip:text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
.text-box h3{
    font-size: 40px;
    font-weight: 500;
}
.text-box .row{
   display: flex;
   align-items: center;
   flex-wrap:wrap;
   margin-top: 30px; 
}
.text-box  a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
}
.text-box a span{
    font-size: 30px;
    line-height: 15px;
    margin-left: 5px;
}
.social-icons{
    position: absolute;
    right: 5%;
    bottom: 8%;
}
.social-icons img{
    width: 25px;
    display: block;
    margin: 25px 5px;
}
 .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
    background-color: white;
    color: antiquewhite;
   
  }
  
  .right {
    right: 0;
    background-color: white;
    
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .centered img {
    width: 500px;
    height: 500px;
    border-radius: 15px;
    margin-left:-100px;
    margin-top: -150px;
  }
  .description1{
  font-family: 'Montserrat';
    font-size: 20px;
    color: black;
    quotes: "“" "”";
    position: relative;
    text-align: center;
    padding: 15px;
    &::before {
      content: open-quote;
      font-size: 4em;
      color: black;
      position: absolute;
      top: -60px;
      left: 0;
      font-family: Georgia, serif;
      margin-top: 30px;
   
    }
    &::after {
      content: close-quote;
      font-size: 4em;
      bottom: -10px;
      right:80px;
      position: absolute;
      color: black;
      font-family: Georgia, serif;
    
    }
  }
  .split{
      display: inline;
  } 
