        body {
            background-image: url(../img/pexels-stephan-seeber-1261728.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            height: 100vh;
            margin: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: aliceblue;
        }

        header {
            text-align: center;
            margin-top: 50px;
        }

        section {
            background-color: rgba(0, 0, 0, 0.7);
            padding: 20px;
            margin: 20px;
            border-radius: 10px;
        }

        p {
            font-size: 1.2em;
            line-height: 1.6;
        }

        footer {
            text-align: center;
            background-color: #007BFF;
            color: white;
            padding: 15px 0;
            font-size: 14px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }