 body{
            background-image:url(../img/pexels-stephan-seeber-1261728.jpg);
            background-size: 200%;
            background-repeat: no-repeat;
            height: 100vh;
            background-position: center;
        }
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}


header {
    background-color: #007BFF;
    color: white;
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo h1 {
    font-size: 24px;
}

.nav-links li {
    list-style: none;
    display: inline;
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}


.hero {
    background-image: url('../img/hero-background.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 150px 0;
}

.hero h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 40px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #0056b3;
}


.features {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    justify-content: space-around;
}

.feature {
    text-align: center;
    margin: 0 20px;
}

.feature img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

.feature h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.feature p {
    font-size: 16px;
    color: #555;
}


.testimonial {
    background-color: white;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

blockquote {
    font-style: italic;
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

cite {
    font-weight: bold;
    font-size: 16px;
    color:#555;
}

.cta {
    text-align: center;
    padding: 80px 0;
}

.cta h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.cta p {
    font-size: 18px;
    color: aqua;
    margin-bottom: 40px;
}


footer {
    text-align: center;
    background-color: #007BFF;
    color: white;
    padding: 10px 0;
}
.x1{
    font-size:300%;
        font-weight: bold;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: white;
        text-align: center;
}
