
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../images/airline.jpg); 
  background-size: cover;
  background-position: center;
}


.container {
  width: 50%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.container h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #333; 
}

.container label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #555; 
}


.container input[type="text"],
.container input[type="date"],
.container input[type="number"],
.container button {
  width: calc(100% - 22px); 
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  color: #444; /
}

.container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.container button:hover {
  background-color: #0056b3;
}


#confirmation {
  font-weight: bold;
  text-align: center;
  color: #008000; 
  margin-top: 15px; 
}