body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.background {
    background-image: url('../images/uw_background2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.heading-primary {
    color: crimson;
    text-align: center;
}

.heading-secondary {
    color:darkslategray;
    font-family: serif;
    
}

table {
    border-collapse: collapse;
    width: 100%;
    border: none;
}

td {
    border: none;
    padding: 10px;
}

.class {
    text-align: center;
}

.animated-text {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
    animation-delay: 0.5s;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
header {
    background-color: #333;
    position: relative;
    padding: 1em;
    text-align: center;
    position: relative;
    height:80px;
}

#logo {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1em; 
}
.main_header{
    
    color: antiquewhite;
    
    }
    


    @keyframes pulse {
        0% {
            transform: scale(1);
        }
    
        50% {
            transform: scale(1.05);
        }
    
        100% {
            transform: scale(1);
        }
    }
    
    .pulse {
        animation: pulse 1s infinite;
    }