.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.login-container h2 {
    color: #082454;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #082454;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #065096;
}

.redirect-text {
    text-align: center;
    margin-top: 15px;
    font-size: 16px;
}

.redirect-text a {
    color: #065096;
    text-decoration: none;
}

.redirect-text a:hover {
    text-decoration: underline;
}

body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin-top: 10%;
    padding: 0;
    background-image: radial-gradient(circle, #ffffff, #c8c7d8, #9192b2, #59628e, #14366b);

}

.logo {
    display: block;
    margin: 0 auto;
    max-width: 200px;
}

